.player-avatar{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    height:100%;

}

.player-avatar-circle{

    width:130px;

    height:130px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:
        radial-gradient(
            circle,
            rgba(255,215,0,.08),
            rgba(255,215,0,.02)
        );

    border:1px solid rgba(255,215,0,.18);

}

.player-avatar-circle svg{

    color:#FFD700;

}

.player-avatar-position{

    margin-top:16px;

    color:#ffffff;

    font-size:16px;

    font-weight:700;

    letter-spacing:1px;

    text-align:center;

}