.teams-header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 30px;
}

.teams-header h1 {
  color: var(--text);

  font-size: 34px;

  font-weight: 700;
}

.teams-header-navigation {
  display: flex;

  align-items: center;

  gap: 10px;
}
