.breadcrumb{

    display:flex;

    align-items:center;

    gap:8px;

    font-size:14px;

}

.breadcrumb-item{

    display:flex;

    align-items:center;

    gap:8px;

}

.breadcrumb-link{

    display:flex;

    align-items:center;

    gap:6px;

    color:var(--text-muted);

    text-decoration:none;

    transition:.2s;

}

.breadcrumb-link:hover{

    color:var(--primary);

}

.breadcrumb-current{

    color:var(--text);

    font-weight:600;

}