.header-actions{

    display:flex;

    align-items:center;

    gap:12px;

}

.header-actions button{

    width:42px;

    height:42px;

    border:none;

    border-radius:12px;

    background:var(--background-light);

    color:var(--text);

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    transition:.2s;

}

.header-actions button:hover{

    background:var(--primary);

    color:#111;

    transform:translateY(-2px);

}