.sidebar-bottom button{

    width:100%;

    display:flex;

    align-items:center;

    gap:14px;

    background:none;

    border:none;

    color:var(--danger);

    padding:12px;

    border-radius:12px;

    cursor:pointer;

    transition:.25s;

}

.sidebar-bottom button:hover{

    background:rgba(235,87,87,.12);

}