.stadium-lights{

    position:absolute;

    inset:0;

    overflow:hidden;

    pointer-events:none;

}

.light{

    position:absolute;

    width:900px;

    height:900px;

    border-radius:50%;

    filter:blur(80px);

    opacity:.08;

}

.light-left{

    top:-450px;

    left:-250px;

    background:radial-gradient(

        circle,

        rgba(255,215,0,.35),

        rgba(255,215,0,.08),

        transparent 70%

    );

}

.light-right{

    top:-450px;

    right:-250px;

    background:radial-gradient(

        circle,

        rgba(255,215,0,0.35),

        rgba(255,215,0,0.08),

        transparent 70%

    );

}